<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unipay.benext.mapper.BillMapper">
    <select id="getBill" parameterType="com.unipay.benext.model.park.Bill" resultType="com.unipay.benext.model.park.Bill">
        select * from bill
        <where>
            <if test="uploadTag!=null and uploadTag!=''">
                and uploadTag=#{uploadTag}
            </if>
        </where>
    </select>

    <update id="updateTagBatchO" parameterType="com.unipay.benext.model.park.Bill">
        update bill set uploadTag=1
        <where>
            id in
            <foreach open="(" close=")" collection="list" item="item" separator=",">
                #{item}
            </foreach>
        </where>
    </update>
</mapper>